<!--
    head.html: file containing metadata
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<head>
  <link href="/styles/styles.css" rel="stylesheet"/>
  <link href="/styles/header.css" rel="stylesheet"/>
  <link rel="icon" href="/assets/favicon.png" sizes="16x16" type="image/png"/>
  <meta charset="UTF-8"/>
  <meta property="og:image" content="/assets/logo-256x256.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="#4400FF" data-react-helmet="true" name="theme-color"/>
  {% seo %}
</head>
