---
layout: default
---

<!--
    post-deprecated.html: deprecated blog post template
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ content | toc }}

<hr>

<p>License: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt">CC BY-NC-SA 4.0</a></p>
