<!--
    posts.html: template listing all blog posts
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <header>
      <a href="/">Home</a>
      <nav>
        <a class="active" href="/posts">Posts</a>
        <a href="/about">About</a>
        <a href="/rocks">Rocks</a>
      </nav>
    </header>
<div>
  <h1>{{ page.title }}</h1>
  <h2><code>[Tesk ~]$ echo $POSTS <span class="cursor">█</span></code></h2>
  <p>{{ page.description }}</p>
  {{ content }}
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2>{{ page.list_title }}</h2>
    {%- endif -%}
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {{ post.date | date: date_format }}
        <p>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div>
        <ul>
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div>•</div></li>
        {%- endif %}
          <li><div>{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div>•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>
  </body>
</html>
