<!--
    rocks.html: rocks page template
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <header>
      <a href="./">Home</a>
      <nav>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <a class="active" href="/rocks">Rocks</a>
      </nav>
    </header>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>
