---
---

/*
    header.css: CSS file for the header
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

header {
  overflow: hidden;
  background-color: #151515;
  padding: 10px;
  border-radius: 10px;
}

header a {
  float: left;
  color: #c4c4c4;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-size: 24px;
  font-weight: bold;
}

header a:hover, header a.active {
  background-color: #4400FF;
  color: white;
}

nav {
  float: right;
}


@media (min-width: 768px) {
  header a {
    font-size: 22.5px;
  }
}
