---
---

/*
    styles.css: CSS file for everything
    Copyright (C) 2021  TheEvilSkeleton and contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/* General looks */

* {
	color: #c4c4c4;
	font-family: sans-serif;
}

html {
	background-color: #212121;
}

/* Heading */

h1 {
	text-align: center;
}

/* Body */

p, body, code, li, ul {
  font-size: 1.15rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Codeblock */

code, .cursor, span {
  color: #999999;
  font-family: monospace;
}

.language-terminal, .language-plaintext {
  position: relative;
	padding: 0 0.5em 0;
  max-height: 20em;
  border-radius: 5px;
  background-color: #292929;
  overflow: scroll;
}

/* Images */

img, .mastodon-embed, .statcounter {
  border-radius: 7.5px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 256px;
  height: 256px;
}

/* Lists */

li, ul {
  position: relative;
  left: -11px;
}

/* Block quote */

blockquote {
  color: #555555;
  padding: 0 1.5em;
  border-left: 8px solid #696969;
  margin: 0;
  background-color: #342F41;
  border-radius: 2.5px;
}

/* Blinking cursor */

.cursor {
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Selection */

::selection {
	color: #c4c4c4;
	background: #400082;
}

a:hover, a:active {
	transition: 0.3s;
}

a {
	text-decoration: none;
}

a:active, a:link, a:visited {
	color: #9b70ff;
}

a:hover {
	color: #bf69ff;
}

sup {
  font-size: 0.75rem;
}

/* Desktop */

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 2em 0 2em;
  }

  p, body, code, li, ul, span {
    font-size: 1.45rem;
  }

  li, ul {
    position: relative;
    left: 0;
  }

  sup {
    font-size: 1rem;
  }
}

